h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2271A0;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.projectName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
.projectDescription {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: italic;
    font-variant: normal;
    text-decoration: none;
}
.menuItem {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
.menuItemCell {
    padding-left: 10px;
    height: 30px;
}
.projectCopyright {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}