<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>LogonPageController</servlet-name>
        <servlet-class>org.aeroivr.rsmc.web.controller.LogonPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartStopServerPageController</servlet-name>
        <servlet-class>org.aeroivr.rsmc.web.controller.StartStopServerPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordPageController</servlet-name>
        <servlet-class>org.aeroivr.rsmc.web.controller.ChangePasswordPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetWavFilePageController</servlet-name>
        <servlet-class>org.aeroivr.rsmc.web.controller.SetWavFilePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonPageController</servlet-name>
        <url-pattern>/logon.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartStopServerPageController</servlet-name>
        <url-pattern>/startStopServer.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordPageController</servlet-name>
        <url-pattern>/changePassword.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetWavFilePageController</servlet-name>
        <url-pattern>/setWavFile.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            logon.html
        </welcome-file>
    </welcome-file-list>
</web-app>
